<div class="chat">
	<div class="chat-room">
	 <p *ngFor="let mess of messages" class="chat-room-messages">{{mess.name}}: <span>{{mess.message}}</span></p>
	</div>

	<div class="chat-inputArea">
		<div class="chat-inputArea-nickname" [hidden]="nameInserted">
			<form novalidate (ngSubmit)="insertNickname($event)">
				<p class="chat-inputArea-nickname-user">
			  		<span class="chat-inputArea-nickname-user-name">Nickname: </span> <input type="text" id="nickname">
				</p>
				<p class="chat-inputArea-nickname-user">
			  		<button type="submit">Submit</button>
				</p>
			</form>	
		</div>
		<div class="chat-inputArea-message" [hidden]="!nameInserted">
			<form novalidate #fform="ngForm" [formGroup]="messageForm" (ngSubmit)="insertMessage()">
				<p class="chat-inputArea-message-userinput">
			  		<span class="chat-inputArea-message-userinput-user">{{user}}</span>
				</p>			
				<p class="chat-inputArea-message-userinput">
			  		<input type="text" placeholder="type your message" formControlName="message" id="message">
				</p>
				<p class="chat-inputArea-message-userinput">
			  		<button type="submit">Submit</button>
				</p>
			</form>	
		</div>
	</div>
</div>
